body
  padding-top: 60px
  padding-bottom: 40px
  height: 100%

.sidebar-nav
  padding: 9px 3px

@media (max-width: 1180px)
  body
    padding-top: 50px
    padding-bottom: 40px
    height: 100%
    .navbar-text.pull-right
      float: none
      padding-left: 5px
      padding-right: 5px
      .customer-img .img-related
        margin-bottom: 30px
    .carousel
      height: 50%
      .carousel-inner
        .item
          h2
            margin: 0
            margin-left: 430px
            color: #555
            padding-top: 10px
            font-size: 100px
            font-family: sans-serif
            opacity: .7
          text-align: center
          height: 410px !important


@media (max-width: 767px)
  .img-portfolio
    margin-bottom: 15px
  .carousel
    height: 70%
    margin-top: 20px
    .carousel-inner
      .item
        h2
          margin: 0
          margin-left: 430px
          color: #555
          padding-top: 10px
          font-size: 100px
          font-family: sans-serif
          opacity: .7
        text-align: center
        height: 410px !important

.carousel
  height: 70%
  margin-top: 20px
  .carousel-inner
    .item
      h2
        margin: 0
        margin-left: 430px
        color: #555
        padding-top: 10px
        font-size: 100px
        font-family: sans-serif
        opacity: .7
      text-align: center
      height: 410px !important


.dropdown-menu
  padding: 6px
  padding-bottom: 4px
  width: 250px !important
  .user
    input
      margin-bottom: 15px
    label
      text-align: center
      margin-top: 5px

.img-portfolio
  margin-bottom: 30px


.img-hover:hover
  opacity: 0.8

.error-404
  font-size: 100px

.price
  display: block
  font-size: 50px
  line-height: 50px

.price sup
  top: -20px
  left: 2px
  font-size: 20px

footer
  margin: 50px 0

.tab-content
  margin-top: 20px
