- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= render "orders/paginate_top"
#orders
  = render "orders/orders"
= render "orders/paginate_bottom"
- if policy(:order).new?
  = link_to 'New Order', new_user_order_path(current_user)
